:root {
    --selectColor: #bbb;
    --accentColor: #eee;
    --bgColor: #fff;
    --contentWidth: 75vw;
    --maxWidth: 1200px;
    --collectionGap: 5px;
    --fontSize: calc(var(--contentWidth)/40);

    --radius: 3px;

    --imgSize: calc(var(--contentWidth) * 3 / 7);
    --tileSize: calc((var(--contentWidth) / 4) - var(--collectionGap) + 1px);
}

@font-face {
    font-family: zalando-black;
    src: url(./font/ZalandoSansExpanded-Black.woff) format('woff'), url(./font/zalandoSansExpanded-Black.ttf) format('ttf');
}

@font-face {
    font-family: zalando-light;
    src: url(./font/ZalandoSansExpanded-Light.woff) format('woff'), url(./font/zalandoSansExpanded-Light.ttf) format('ttf');
}

@font-face {
    font-family: outfit-light;
    src: url(./font/Outfit-Light.ttf);
}

@font-face {
    font-family: outfit-regular;
    src: url(./font/Outfit-Regular.ttf);
}


* {
    margin: 0px;
    font-family: outfit-light;
    font-size: var(--fontSize);
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overlay div {
    width: 85%;
    height: 85%;

    display: flex;


    align-items: center;
    justify-content: center;

    object-fit: fill;
}

#overlay div>*:not(#close-button) {
    max-width: 100%;
    max-height: 100%;
}

#close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;

    display: flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;


    background-color: white;
    border: 2px solid black;


    border-radius: var(--radius);

    margin: 2%;
    cursor: pointer;
}

#close-button img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: zalando-black;
}

h1 {
    font-size: calc(var(--fontSize) * 2.2);
}

h2 {
    font-size: calc(var(--fontSize) * 1.8);
}

h3 {
    text-align: right;
    font-size: calc(var(--fontSize) * 1);
}


h4 {
    color: #555;
    font-family: zalando-light;
    font-size: calc(var(--fontSize) * 0.8);
    font-weight: normal;
    margin: 0;
}

p {
    line-height: 1.3rem;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
    margin: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgColor);

    width: calc(var(--contentWidth));
    padding: 0px 10px;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

nav ul {
    display: flex;
    justify-content: right;

    list-style-type: none;
    gap: 10px;
}

hr {
    height: 1.5px;
    width: 100%;
    background-color: black;
    margin-bottom: 15pt;
}

#zoom-container>* {
    width: 200px;
    height: 200px;
    object-fit: contain;
}


#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-project {
    position: absolute;

    width: var(--contentWidth);

    background-color: var(--bgColor);
    display: flex;

    gap: 20px;

    border-radius: var(--radius);

    box-sizing: border-box;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;

    transition: opacity 100ms;
}

.default-project {
    position: relative;
}

.active-project {
    opacity: 100%;
    z-index: 1;
}

.inactive-project {
    opacity: 0%;
    z-index: -1;
}

.media-section {
    position: relative;
    cursor: zoom-in;
}

.project-media {
    width: var(--imgSize);
    border-radius: var(--radius);
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
}

.project-media img,
.project-media video {
    width: var(--imgSize);
    height: var(--imgSize);
    object-fit: cover;


    position: relative;
    right: 0px;

    transition: right 100ms;
}

.carousel-dots {
    margin: 10px 0;
    display: flex;
    width: var(--imgSize);

    justify-content: space-between;
    align-items: center;
}

.dot {
    height: 5px;


    flex-grow: 1;

    margin: 0px;
    padding: 0px;
    background-color: #eee;

    border: none;
    box-sizing: border-box;
    display: inline-block;

    transition: background-color 100ms;
}

.dot-select {
    background-color: var(--accentColor);
    background-color: #aaa;

}

.carousel-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    height: var(--imgSize);
    width: 15%;
    top: 0%;
    opacity: 20%;
    transition: opacity 100ms;
    cursor: pointer;
}

.carousel-btn:hover {
    opacity: 70%;
}

.carousel-previous {
    left: 0%;
}

.carousel-next {
    right: 0%;
}

.carousel-btn img {
    width: 100%;
    height: auto;
}

.carousel-btn.carousel-previous img {
    transform: rotate(180deg);
}

.project-text {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: white;
    border-radius: var(--radius);
    padding: 15px;

    height: var(--imgSize);
    box-sizing: border-box;

    border: 2px solid black;
}

#project-collection {
    width: var(--contentWidth);
    display: flex;
    gap: var(--collectionGap);
    justify-content: left;
    flex-flow: wrap;
    margin-bottom: 50px;
}

.project-tile {
    width: var(--tileSize);
    height: var(--tileSize);
    display: flex;

    object-fit: contain;
}

.project-tile img {

    width: var(--tileSize);
    height: var(--tileSize);

    border-radius: var(--radius);
    border: 3px solid var(--bgColor);
    box-sizing: border-box;
    object-fit: cover;

    transition: border 200ms;
    cursor: pointer;
}

#tile-highlighted {
    border: 3px solid #f66;
}

footer {
    position: relative;
    bottom: 1vh;
    z-index: 0;

    font-family: outfit-regular;
    font-size: 0.8rem;
    background-color: var(--bgColor);
    width: 100vw;
    display: flex;
    justify-content: center;
}

#copyright {
    font-family: outfit-regular;
    font-size: 0.8rem;
}

.button-container {
    display: flex;
    justify-content: left;
}

.project-text button {
    background-color: white;
    width: auto;

    border-radius: calc(var(--radius));
    text-decoration: none;
    border: 1px solid black;

    margin-bottom: 1rem;
}

.project-text button a {

    font-family: zalando-light;
    font-size: calc(var(--fontSize));
    color: #000
}

@media screen and (min-width: 1200px) {
    :root {
        --contentWidth: 100vh;
        --fontSize: calc(var(--contentWidth)/50);
    }
}

@media screen and (min-width: 1200px) and (max-height: 800px) {
    :root {
        --contentWidth: 800px;
        --fontSize: calc(var(--contentWidth)/50);
    }
}

@media screen and (max-aspect-ratio: 4/5) {

    :root {
        --contentWidth: calc(100vw / 10 * 9);
        --imgSize: calc(var(--contentWidth) * 9 / 10);
        --tileSize: calc((var(--contentWidth) / 2) - var(--collectionGap) + 2px);
        --fontSize: calc(var(--contentWidth)/20);
    }

    .focus-project {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        height: calc(var(--contentWidth) * 2);
    }

    .carousel-btn:hover {
        opacity: 20%;
    }

    .project-text {
        width: var(--imgSize);
        height: 100%;
        margin-top: 0;
    }

}



/* width */
::-webkit-scrollbar {
    width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: var(--radius);
}

.focus-project ::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--selectColor);
}